.topnav{
  position: fixed;
  background-color: white;
  overflow: hidden;
  z-index: 1;
  height: 65px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
    font-family: tahoma;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: royalblue;
    overflow: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: gold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: powderblue;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: powderblue;
  color: white;
}
