<style>
        .text-align:center {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: cadetblue;
            color: white;
            text-align: center;
            font-family: tahoma;
        }
        </style>